[Desktop Entry]
Type=Application
Name=XStreamingDesktop
Comment=Xbox streaming client, you can play Xbox games anywhere.
Icon=io.github.Geocld.XStreamingDesktop
Exec=run.sh
Terminal=false
StartupWMClass=XStreamingDesktop
Categories=Network;Game;
Keywords=Game;Streaming;Xbox;xCloud;Console;