.map-item {
  height: 40px;
  color: #666;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  .left, .center, .right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .center {
    width: 40px;
  }

  img {
    width: 32px;
  }
}