#actionBar {
  z-index: 101;

  backdrop-filter: blur(20px);
  /* background: rgba(0, 0, 0, 0.3); */
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  text-align: right;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#actionBar.hidden {
  opacity: 0;
}